body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    margin: 40px;
    color: #030303;
}
h1{
    color: crimson;
    text-align: center;
}

p{
    font-size: medium;
    line-height: 1.8;
    margin-bottom: 15px;
}

blockquote{
    font-style: italic;
    color: gold;
    margin: 20px 0;
    border-left: 4px solid;
}

h2 {
    color: crimson;
}

input{
    background-color: blueviolet;
    border-style: inherit;
    border: radius 4px; 
    padding: 10px 20px;
}
